/* Pen-specific styles */
* {
    box-sizing: border-box;
}


body {
    font-size: 1.01rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #697982;
}

section {
    color: #000000;
    text-align: center;
}

div {
    height: 98%;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}


/* Pattern styles */
.container {

    width: 100%;
}

.left-half {
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    width: 50%;
  
}

.right-half {
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    width: 50%;
}

fieldset {
    border: 1px solid black;
    padding: 25px;
    height: 80vh;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid black;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

div {
    padding: 5px;
}
strong {
    font-size: 1.70rem;
}
