/* Pen-specific styles */
* {
    box-sizing: border-box;
}


body {
    font-size: 1.01rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #343b3f;
}

section {
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}


/* Pattern styles */
.container {
    width: 100%;
}

.main {
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
}


fieldset {
    border: 1px solid black;
    padding: 25px;
    height: 75vh;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

strong {
    font-size: 1.70rem;
}

#btnHome {
    font-size: 20px;
    margin-top: 25px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#btnBack {
    font-size: 20px;
    margin-top: 25px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}


/*------ small screen edit ------- */
@media only screen and (max-width: 600px) {
    fieldset {
        border: 1px solid black;
        padding: 25px;
        height: 60vh;
        overflow: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: 3px solid black;
        border-radius: 10px;
    }
}